# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

.Trashes
ehthumbs.db
Thumbs.db

*.out
*.log
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

*.com
*.class
*.dll
*.exe
*.o
*.so
