<div class="row">
    <div class="col-sm-5" ng-if="celebrityDetails.image">
        <a href="{{celebrityDetails.image}}">
            <img ng-src="{{celebrityDetails.image}}" class="img-responsive img-rounded" alt="{{celebrityDetails.name}}">
        </a>
    </div>
    <div class="col-sm-7">
        <h3>{{celebrityDetails.name}}</h3>
        <div><strong>Birthday:</strong> {{celebrityDetails.birthday ? (celebrityDetails.birthday | date:'MMMM dd, yyyy') : 'Not Available'}}</div>
        <div><strong>Birthplace:</strong> {{celebrityDetails.birthplace || 'Not Available'}}</div>
        <div hm-read-more hm-text="{{ celebrityDetails.bio }}" hm-limit="500" hm-more-text="More" hm-less-text="Less" hm-dots-class="dots" hm-link-class="links">
        </div>
    </div>
</div>
<div class="row" style="height: 20px;"></div>
<div class="row" ng-controller="celebrityDetailController">
    <div class="col-sm-12">
        <h4>FILMOGRAPHY</h4>
    </div>
    <div class="col-sm-12">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>
                        <a ng-click="orderByField='criticRatingValue'; reverseSort = !reverseSort" class="text-nowrap">
                            <span>Rating</span>
                            <i ng-show="orderByField == 'criticRatingValue' && reverseSort" class="fa fa-caret-down" aria-hidden="true"></i>
                            <i ng-show="orderByField == 'criticRatingValue' && !reverseSort" class="fa fa-caret-up" aria-hidden="true"></i>
                        </a>
                    </th>
                    <th>
                        <a ng-click="orderByField='movieTitle'; reverseSort = !reverseSort" class="text-nowrap">
                            <span>Title</span>
                            <i ng-show="orderByField == 'movieTitle' && reverseSort" class="fa fa-caret-down" aria-hidden="true"></i>
                            <i ng-show="orderByField == 'movieTitle' && !reverseSort" class="fa fa-caret-up" aria-hidden="true"></i>
                        </a>
                    </th>
                    <th>Credit</th>
                    <th>
                        <a ng-click="orderByField='movieYear'; reverseSort = !reverseSort" class="text-nowrap">
                            <span>Year</span>
                            <i ng-show="orderByField == 'movieYear' && reverseSort" class="fa fa-caret-down" aria-hidden="true"></i>
                            <i ng-show="orderByField == 'movieYear' && !reverseSort" class="fa fa-caret-up" aria-hidden="true"></i></a>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="obj in celebrityDetails.filmographyItems | orderBy:orderByField:reverseSort">
                    <td>
                        {{obj.criticRatingValue}}
                    </td>
                    <td>
                        <a ui-sref="movie.detail({movieId: obj.movieId})">{{obj.movieTitle}}</a>
                    </td>
                    <td>
                        Actor
                    </td>
                    <td>{{obj.movieYear}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
